// .catalog {

// }

.catalog__header {
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  padding: 20px;
  border-top: solid @light-grey 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.catalog__link {
  text-decoration: none;
  display: inline-block;
}

.catalog__img-item {
  height: 140px;
  width: 50%;
}

.catalog__item-text-block{
  width: 50%;
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  color: @black-grey;
  margin: 0;
  width: 80px;
}

.catalog__item-table {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 0;
    margin: 0;
  }

  td:first-child + td {
    text-align: right;
  }
}

.catalog__button-order {
  width: 100%;
}

// .catalog__footer {

// }

// .catalog__img-plus {
//   width: 100%;
// }

.catalog__footer-title {
  font-size: 16px;
  line-height: 20px;
}

.catalog__footer-text {
  font-size: 12px;
  line-height: 16px;
}

.catalog__footer-button {
  width: 100%;
}
