// .catalog {

// }

.catalog__header {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    margin-bottom: 47px;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 35px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 43px;
  }
}

.catalog__item {
  @media (max-width: @mobile-only-width) {
    border-top: solid @light-grey 1px;
    margin: 0 -@padding-mobile;
    padding: 18px @padding-mobile 25px @padding-mobile;
  }

  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, transparent 20%, @base-grey 20%);
  }
}

.catalog__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    padding: 8px 36px 40px 36px;
  }
}

.catalog__link {
  text-decoration: none;
  display: inline-block;
}

.catalog__img-item {
  height: 112px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-basis: 200px;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.catalog__item-text-block {
  flex: 1;

  @media (min-width: @tablet-width) {
    width: 100%;
    text-align: center;
  }
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  color: @black-grey;
  margin: 0;
  margin-bottom: 14px;
  width: 80px;
  text-transform: uppercase;
  max-width: 170px;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 53px;
  }
}

.catalog__item-table {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 0;
    margin: 0;
  }

  td:first-child {
    text-align: left;
  }

  td:first-child + td {
    text-align: right;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;

    tr {
      border-bottom: 1px solid @special-grey;
    }

    td {
      padding: 7px 0;
    }
  }
}

.catalog__button-order {
  width: 100%;
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
  }
}

.catalog__footer {
  background-color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border: 2px solid @base-grey;
  }
}

.catalog__img-plus {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 23px;
  }
}

.catalog__footer-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 170px;
    margin-bottom: 23px;
  }
}

.catalog__footer-text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin-bottom: 88px;
  }
}

.catalog__footer-button {
  width: 100%;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 33px;
  }
}
