.contacts {
  position: relative;
}

.contacts__invation {
  @media (min-width: @desktop-width){
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
  }
}
