.contacts {
  position: relative;
}

.contacts__container {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    z-index: 2;
  }
}

.contacts__invation {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}
