// .form {

// }

// .form__header {

// }

.form__main-header {
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 0;

  @media (min-width: @tablet-width) {
    margin: 64px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.form__sub-header {
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 37px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 54px 0 64px 0;
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__main-block {
  max-width: @content-max-width;
  margin: auto;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.form__block {
  border: none;
  padding: 0;
  padding-bottom: 23px;

  &--border {
    margin-left: -@padding-mobile;
    margin-right: -@padding-mobile;
    padding: 9px @padding-mobile 16px @padding-mobile;
    border-left: none;
    border-right: none;
    border-top: solid @light-grey 1px;
    border-bottom: solid @light-grey 1px;

    @media (min-width: @tablet-width) {
      margin: 0;
      border: solid @light-grey 1px;
      padding: 30px;
    }
  }

  &--with-legend {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.form__block-contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.form__block-additional {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 104px;
  }
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 17px;

  &--radio {
    margin-top: 12px;
  }

  &--light {
    color: @dark-grey;
  }

  &--dark {
    color: @black-grey;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
  }
}

.form__input {
  @margin: 15px;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  text-transform: uppercase;

  &--text {
    flex: 1;
    padding: 10px;
    margin-left: @margin;
  }

  &--big-text {
    height: 126px;
    width: 100%;
    padding: 10px;

    @media (min-width: @tablet-width) {
      height: 174px;
    }
  }

  &--radio {
    margin: 1px @margin 1px 0;
    background-color: @white;
    border: 1px solid @black;
    width: 30px;
    height: 30px;
    color: @base-green;
  }

  &--checkbox {
    width: 26px;
    height: 26px;
    margin-right: @margin;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  padding: 26px 0 20px 0;
  // display: flex;
  // align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 65px 0 76px 0;
  }

  // &::before, &::after {
  //   content: "";
  //   border-top: solid @base-green 2px;
  //   position: absolute;
  //   height: 0.1px;
  //   flex: 1;
  // }

  // &::before {
  //   right: 100%;
  //   margin-right: 15px;
  // }

  // &::after {
  //   left: 100%;
  //   margin-left: 15px;
  // }
}

.form__footer {
  padding: 33px 0 13px 0;

  @media (min-width: @tablet-width) {
    padding: 54px 0 72px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-gap: 80px;
  }
}

.form__submit {
  width: 100%;
}

.form__remark {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}
