// .form {

// }

// .form__header {

// }

.form__main-header {
  font-size: 36px;
  line-height: 36px;
}

.form__sub-header {
  font-size: 14px;
  line-height: 18px;
}

.form__fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;

  &--border-simple {
    border-left: none;
    border-right: none;
    border-top: solid @light-grey 1px;
    border-bottom: solid @light-grey 1px;
  }

  &--border-green {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid @base-green 2px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--light {
    color: @dark-grey;
  }

  &--dark {
    color: @black-grey;
  }
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  text-transform: uppercase;

  &--big-text {
    height: 150px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

// .form__footer {

// }

.form__submit {
  width: 100%;
}

.form__remark {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
