// .form {

// }

// .form__header {

// }

.form__main-header {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__sub-header {
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__main-block {
  max-width: @content-max-width;
  margin: auto;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;

    > * {
      flex: 1;
    }

    > *:not(:first-child) {
      margin-left: 80px;
    }
  }
}

.form__block {
  border: none;
  padding-left: 0;
  padding-right: 0;

  &--border {
    margin: 0 -@padding-mobile;
    padding: 0 @padding-mobile;
    border-left: none;
    border-right: none;
    border-top: solid @light-grey 1px;
    border-bottom: solid @light-grey 1px;

    @media (min-width: @tablet-width) {
      margin: 0;
      border: solid @light-grey 1px;
      padding: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.form__block-contacts {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;

    > * {
      flex: 1;
    }

    > *:not(:first-child) {
      margin-left: 80px;
    }
  }
}

.form__block-additional {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > * {
      width: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    > * {
      flex: 1;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 10px 0;

  &--light {
    color: @dark-grey;
  }

  &--dark {
    color: @black-grey;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
  }
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  text-transform: uppercase;

  &--text {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
  }

  &--big-text {
    height: 150px;
    width: 100%;

    @media (min-width: @tablet-width) {
      height: 174px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  // &::before, &::after {
  //   content: "";
  //   border-top: solid @base-green 2px;
  //   position: absolute;
  //   height: 1px;
  //   top: 50%;
  //   width: 100%;
  // }

  // &::before {
  //   right: 100%;
  //   margin-right: 15px;
  // }

  // &::after {
  //   left: 100%;
  //   margin-left: 15px;
  // }
}

.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }
}

// .form__submit {

// }

.form__remark {
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
