.invation {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.invation__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.invation__adress {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width){
    text-align: right;
  }

  @media (min-width: @desktop-width){
    text-align: left;
  }
}
