.life-example {
  background-color: @base-grey;
  padding: 20px 25px 20px 25px;
}

.life-example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.life-example__text {
  font-size: 14px;
  line-height: 18px;
}

.life-example__stats {
  width: 100%;
}

// .life-example__stats-item {

// }

.life-example__main-stat {
  font-size: 24px;
  line-height: 24px;
}

.life-example__comment {
  font-size: 12px;
  line-height: 12px;
}

.life-example__stats-cost {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

// .life-example__slider-block {

// }

// .life-example__slider-images {

// }

.life-example__image {
  width: 100%;
  height: auto;
}

// .life-example__footer {

// }
