.life-example {
  background-color: @base-grey-dark;
  padding: 0.1px;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, @white 50%, @base-grey-dark 50%);
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, @white 30%, @base-grey 30%);
    padding-bottom: 60px;
  }
}

.life-example__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.life-example__info-block {
  width: 100%;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}

.life-example__title {
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.life-example__text {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.life-example__stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.life-example__params-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.life-example__params-item {
  text-align: center;
  border: 1px solid @special-grey;
  border-radius: 3px;
  position: relative;
}


.life-example__stats-cost {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 34px 0;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.life-example__main-stat {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 14.5px 0 17.5px 0;
}

.life-example__comment {
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
  margin: 0px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60%);
  background-color: @base-grey-dark;
}

.life-example__slider-block {
  width: calc(100% + 2 * @padding-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -@padding-mobile;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

// .life-example__slider-images {

// }

.life-example__image {
  width: 100%;
  height: auto;

  // &--before {

  // }

  &--after {
    display: none;
  }
}

.life-example__footer {
  margin: 25px 0;
}
