.page-footer {
  padding: 20px;
  background-color: @base-grey;
}

// .page-footer__logo {

// }

// .page-footer__social-networks {

// }

.page-footer__creators {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.page-footer__academy-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__academy-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
