.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: @regular;
  background-color: @bg-color;
  position: relative;

  @media (min-width: @desktop-width){
    display: flex;
    justify-content: center;
  }
}

.page__body {
  width: 100%;
}
