.page-header {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
  }

  &--index {
    @media (min-width: @desktop-width) {
      position: absolute;
      z-index: 3;
    }
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;

  @media (min-width: @tablet-width) {
    justify-content: left;
  }
}

.page-header__logo-text {
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__burger {
  border: none;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.page-header__menu-item {
  text-align: center;
  padding: 22px;
  border-top: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.page-header__page-link {
  text-decoration: none;
  color: @black;
  font-size: 20px;
  line-height: 20px;
  font-weight: @medium;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 29.64px;
    font-weight: @regular;

    &--active {
      border-bottom: 2px solid @base-green;
      padding-bottom: 5px;
    }

    &:hover {
      color: fade(@black, 60%);
    }

    &:active {
      color: fade(@black, 30%);
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;

    &--index {
      color: @white;
    }

    &--active&--index {
      border-bottom: 2px solid @white;
    }

    &--index&:hover {
      color: fade(@white, 60%);
    }

    &--index&:active {
      color: fade(@black, 30%);
    }
  }
}
