.promo {
  position: relative;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    background: none;
    height: 835px;
  }

  @media (min-width: @desktop-width) {
    height: 696px;
  }
}

.promo__container {
  position: relative;
  height: 100%;
}

.promo__wrapper {
  width: 100%;
  height: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
    box-sizing: border-box;
    padding-left: 87px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    top: 169px;
    left: 80px;
    height: unset;
    width: unset;
  }
}

.promo__background-image {
  background: no-repeat url("/img/cat-background.jpeg");
  background-size: 180%;
  background-position: 60% 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 63%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: fade(@base-green, 85%);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    top: 0;
    left: 50%;
    background-size: auto 100%;
    background-position: 0 0;
    height: 100%;
    width: 100%;
  }
}

.promo__main-header {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
    width: 414px;
    margin: 54px 0 41px 0;
  }
}

.promo__sub-header {
  font-size: 14px;
  line-height: 14px;
  color: @white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 283px;

    margin: 41px 0 49px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 40px 0 52px 0;
  }
}

.promo__img-jar {
  width: 100%;
  height: auto;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 30px;
    max-width: 704px;
  }

  @media (min-width: @desktop-width) {
    left: 368px;
    top: -105px;
    width: 552px;
    height: 499px;
    transform: none;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 238px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
