.promo {
  position: relative;
  padding: 20px;
  overflow: hidden;

  @media (min-width: @tablet-width){
    background: none;
    height: 950px;
  }

  @media (min-width: @desktop-width){
    background: linear-gradient(fade(@base-green, 85%), fade(@base-green, 85%)) right top/50% 50% no-repeat, url("/img/cat-background.jpeg") right top/50% 50% no-repeat;
    height: 800px;
    padding: 200px;
  }
}

.promo__background-image {
  background: no-repeat url("/img/cat-background.jpeg");
  background-size: 180%;
  background-position: 60% 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 63%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: fade(@base-green, 85%);
  }

  @media (min-width: @tablet-width){
    display: none;
  }
}

.promo__main-header {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width){
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
  }
}

.promo__sub-header {
  font-size: 14px;
  line-height: 14px;
  color: @white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width){
    color: @black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__img-jar {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width){
    position: absolute;
    z-index: -1;
    bottom: 0;
    max-width: 800px;
    width: 100%;
  }

  @media (min-width: @desktop-width){
    display: block;
    position: relative;
    z-index: 0;
    right: 0;
    top: 29px;
    height: 499px;
    width: 552px;
    order: 4;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: @tablet-width){
    width: 244px;
  }
}
