.green-button {
  background-color: @base-green;
  border: none;
  height: 40px;

  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: @regular;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    background-color: @green-active;
  }
}
